{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include("shared/_sidebarProfile.html.twig")%}
		</div>
		<div class="col">
			{{form_start(clientForm)}}
			<label>
				Email Client
			</label>
			{{form_widget(clientForm.email)}}
			<label>Template</label>
			{{form_widget(clientForm.templateFormat)}}
			<button type="submit" class="btn btn-success">Register</button>
			{{form_end(clientForm)}}
		</div>

	</div>
{% endblock %}
